<%- include("../layout/head")%>
<%- include("../layout/header")%>
<%- include("../layout/sidebar")%>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a>
            </li>
            <li><a href="/admin/advertisements">Quản lý quảng cáo</a></li>
            <li class="active">Thêm quảng cáo</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Thêm quảng cáo</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-8">
                        <form action="/admin/advertisements/store" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Tên quảng cáo</label>
                                <input required name="name" class="form-control" placeholder="Nhập tên quảng cáo">
                            </div>

                            <div class="form-group">
                                <label>Liên kết</label>
                                <input required name="link" type="text" class="form-control" placeholder="URL khi click vào quảng cáo">
                            </div>

                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea name="description" id="description" class="form-control" rows="3"></textarea>
                                <script>
                                    CKEDITOR.replace("description");
                                </script>
                            </div>

                            <div class="form-group">
                                <label>Loại quảng cáo</label>
                                <select name="type" class="form-control">
                                    <option value="slider">Slider</option>
                                    <option value="banner">Banner</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Vị trí</label>
                                <input name="position" type="number" min="1" class="form-control" value="1">
                            </div>

                            <div class="form-group">
                                 <label>Trạng thái</label><br>
                                 <label class="checkbox-inline">
                              <input type="checkbox" name="status" <%= ad.status ? 'checked' : '' %>> Hiển thị
                                </label>
                              
                            </div>

                            <div class="form-group">
                                <label>Ảnh quảng cáo</label>
                                <input required name="image" type="file">
                            </div>

                            <button type="submit" class="btn btn-success">Thêm mới</button>
                            <button type="reset" class="btn btn-default">Làm mới</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../layout/footer")%>
